*.root 
/miniball
/Calcium_2023
/media/ben/TOSHIBA_brj/alphas_field_off/data
/media/ben/TOSHIBA_brj/pulser_walk_november/data
/media/ben/TOSHIBA_brj/pulser_walk_august/data
my_data/
*test*
*.log

*.png
*.jpg
*.jpeg
*.gif
*.pdf 

.Trash-1000
lost+found
*.ipynb_checkpoints

*.tmp
